/* Write your code here: */
h1, h2 {
    color:blueviolet; /* Group */
}

.box > p {
    color: firebrick; /* Child */
}

.box li {
    color: blue; /* Descendant */
}

li.done {
    color: seagreen; /* chaining method */
}

ul p.done {
    font-size: 0.5rem; /* Combining combiners */
}